header#main-header{
    width: 700px;
    height:60px;
    margin: 0 auto 0;
    background: #da552f;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
